<ion-header [translucent]="true" color="primary">
  
    
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registrapp
    </ion-title>
    <ion-button slot="end" fill="clear" routerLink="../login">
      <ion-icon slot="icon-only" name="Camera"  ></ion-icon>
    </ion-button>
  </ion-toolbar>
    
   
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item class="ion-margin-top">
    <ion-title class="ion-padding-top" >Asignaturas {{nombreusuario}} </ion-title>
  </ion-item>

  <ion-list>
    <ion-item class="ion-padding-top"   detail>
      
      <ion-label>
        <h3>Programacion de aplicaciones moviles</h3>
        <p>pgy-4121</p>
        <p>100% asistencia ( 10 de 10 clases)</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  
</ion-content>
<div *ngIf="nombreusuario !==' '"  >
 <ion-footer >
  <ion-item>
    <ion-label>Bienvenido {{nombreusuario}} </ion-label>
    
  </ion-item>
</ion-footer>
</div>


<app-footerprincipal></app-footerprincipal>